.mat-drawer-content {
  min-height: 75vh;
}

.spacer {
  flex: 1;
}

mat-card.mat-card.mat-focus-indicator.col-4.ng-star-inserted {
  margin: 0 7px 10px;
  max-width: 32%;
}

li.col {
  list-style: none;
  text-align: right;
}

.jumbotron {
  padding: 0.5rem !important;
}

.mat-button {

  padding: 0 4px !important;
}
